{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoAdd</title>
    <link rel="stylesheet" href="{% static 'css/add.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
            <div class="adddiv">
                <form action="" method="post">
                    <h1>Add Todo</h1>
                    <div class="insideform">
                        {% csrf_token %}
                        <label class="label" for="">Title</label>
                        <input type="text" name="title"/>
                        <label class="label" for="">Due_Date</label>
                        <input type="date" name="due_date"/>
                        <label class="label" for="">Status</label>
                        <select name="status">
                            <option value="todo">Todo</option>
                            <option value="in progess">In Progress</option>
                            <option value="done">Done</option>
                        </select>
                        <button class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
</body>
</html>